In [ ]:
import pandas as pd

In [ ]:
from textblob import TextBlob
import sys
import tweepy
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os
import nltk
#import pycountry
import re
import string
from wordcloud import WordCloud, STOPWORDS
from PIL import Image
from nltk.sentiment.vader import SentimentIntensityAnalyzer
#from langdetect import detect
from nltk.stem import SnowballStemmer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df=pd.read_excel('/content/drive/MyDrive/LEGO/Day wise Analysis/extracting tweets/dataset/2022 (1).xlsx')

In [ ]:
df.shape[0]

298312

In [ ]:
df.head()

,Unnamed: 0,Date Created,Tweet
0,0,2022-01-01 23:59:42+00:00,ðŸ‘ on @YouTube: The Truth About Making Lego ...
1,1,2022-01-01 23:59:29+00:00,Qualcuno che giochi alla Nintendo Switch con L...
2,2,2022-01-01 23:59:23+00:00,@lego_airi0123 ã‚¤ãƒ³ã‚¹ã‚¿å†™çœŸã¯å¾Œã§ã‚‚ã...
3,3,2022-01-01 23:59:14+00:00,I won 2 achievements in LEGO Builder's Journey...
4,4,2022-01-01 23:59:11+00:00,I won 2 trophies in LEGO Marvel's Avengers for...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298312 entries, 0 to 298311
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   Unnamed: 0    298307 non-null  object
 1   Date Created  298298 non-null  object
 2   Tweet         298280 non-null  object
dtypes: object(3)
memory usage: 6.8+ MB

In [ ]:
tweet_list=df['Tweet']
tweet_list

0         ðŸ‘ on @YouTube: The Truth About Making Lego ...
1         Qualcuno che giochi alla Nintendo Switch con L...
2         @lego_airi0123 ã‚¤ãƒ³ã‚¹ã‚¿å†™çœŸã¯å¾Œã§ã‚‚ã...
3         I won 2 achievements in LEGO Builder's Journey...
4         I won 2 trophies in LEGO Marvel's Avengers for...
                                ...
298307              @Lego_Scientist @BrentLeeSDCIC ðŸ¤£ðŸ¤£
298308    @KaioButStupid The Chad Lego Man https://t.co/...
298309    ãŠã‰ï¼ã€€ãƒ¬ã‚´ (LEGO)  ã‚¯ãƒ©ã‚·ãƒƒã‚¯ é»„...
298310    @angry_maricorn Hostia Tente! Yo pensaba que e...
298311    Weirdly, this is the second time a kid as give...
Name: Tweet, Length: 298312, dtype: object

In [ ]:
for i in range(df.shape[0]):
  tweet_list[i]=str(tweet_list[i]).lower()
  tweet_list[i]=re.sub("@[A-Za-z0-9_]+","", tweet_list[i])
  tweet_list[i]=re.sub("#[A-Za-z0-9_]+","", tweet_list[i])
  tweet_list[i]=re.sub(r"http\S+", "", tweet_list[i])
  tweet_list[i]=re.sub(r"www.\S+", "", tweet_list[i])
  tweet_list[i]=re.sub('[()!?]', ' ', tweet_list[i])
  tweet_list[i]=re.sub('\[.*?\]',' ', tweet_list[i])
  tweet_list[i]=re.sub("[^a-z0-9]"," ", tweet_list[i])

In [ ]:
df_2022=pd.DataFrame(tweet_list)
df_2022.head()

                                               Tweet
0       on   the truth about making lego bricks  ...
1  qualcuno che giochi alla nintendo switch con l...
2                                                ...
3  i won 2 achievements in lego builder s journey...
4  i won 2 trophies in lego marvel s avengers for...

In [ ]:
df_2022.shape

(298312, 1)

In [ ]:
from google.colab import files
df_2022.to_csv("df_2022.csv")
files.download('df_2022.csv')